@import url(normalize.css);
* {
  box-sizing: border-box; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    padding: 5px 0;
    margin: 0;
    list-style: none; }

.clearfix:after, .row:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* html .clearfix, * html .row {
  zoom: 1; }

*:first-child + html .clearfix, *:first-child + html .row {
  zoom: 1; }

.left {
  float: left; }

.right {
  float: right; }

body {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  word-break: break-word;
  margin: 0;
  padding: 0;
  color: #3f3f3f;
  transition: color 500ms; }
  body a {
    color: #cc9393;
    text-decoration: none;
    transition: color 500ms; }
    body a:hover {
      color: #a95050;
      transition: color 500ms; }
    body a:visited {
      color: #cc9393; }

input {
  padding: 5px;
  margin: 10px;
  border: 1px solid #aaaaaa;
  background: white;
  max-width: 120px;
  width: 100%; }

button {
  padding: 10px;
  margin: 10px 0;
  width: 80px;
  border: 0;
  background: #cc9393;
  color: white;
  font-size: 13px; }

.container {
  max-width: 1280px;
  margin: 0 auto; }

.row {
  width: 100%;
  padding: 0 20px; }
  .row.collapse {
    padding: 0; }
  .row.collapse-columns .column, .row.collapse-columns .col-1, .row.collapse-columns .col-1-med, .row.collapse-columns .col-1-small, .row.collapse-columns .col-2, .row.collapse-columns .col-2-med, .row.collapse-columns .col-2-small, .row.collapse-columns .col-3, .row.collapse-columns .col-3-med, .row.collapse-columns .col-3-small, .row.collapse-columns .col-4, .row.collapse-columns .col-4-med, .row.collapse-columns .col-4-small, .row.collapse-columns .col-5, .row.collapse-columns .col-5-med, .row.collapse-columns .col-5-small, .row.collapse-columns .col-6, .row.collapse-columns .col-6-med, .row.collapse-columns .col-6-small, .row.collapse-columns .col-7, .row.collapse-columns .col-7-med, .row.collapse-columns .col-7-small, .row.collapse-columns .col-8, .row.collapse-columns .col-8-med, .row.collapse-columns .col-8-small {
    padding: 0; }

.column, .col-1, .col-1-med, .col-1-small, .col-2, .col-2-med, .col-2-small, .col-3, .col-3-med, .col-3-small, .col-4, .col-4-med, .col-4-small, .col-5, .col-5-med, .col-5-small, .col-6, .col-6-med, .col-6-small, .col-7, .col-7-med, .col-7-small, .col-8, .col-8-med, .col-8-small {
  padding-right: 20px;
  float: left;
  width: 100%; }
  .column.collapse, .collapse.col-1, .collapse.col-1-med, .collapse.col-1-small, .collapse.col-2, .collapse.col-2-med, .collapse.col-2-small, .collapse.col-3, .collapse.col-3-med, .collapse.col-3-small, .collapse.col-4, .collapse.col-4-med, .collapse.col-4-small, .collapse.col-5, .collapse.col-5-med, .collapse.col-5-small, .collapse.col-6, .collapse.col-6-med, .collapse.col-6-small, .collapse.col-7, .collapse.col-7-med, .collapse.col-7-small, .collapse.col-8, .collapse.col-8-med, .collapse.col-8-small {
    padding: 0; }
  .column:last-child, .col-1:last-child, .col-1-med:last-child, .col-1-small:last-child, .col-2:last-child, .col-2-med:last-child, .col-2-small:last-child, .col-3:last-child, .col-3-med:last-child, .col-3-small:last-child, .col-4:last-child, .col-4-med:last-child, .col-4-small:last-child, .col-5:last-child, .col-5-med:last-child, .col-5-small:last-child, .col-6:last-child, .col-6-med:last-child, .col-6-small:last-child, .col-7:last-child, .col-7-med:last-child, .col-7-small:last-child, .col-8:last-child, .col-8-med:last-child, .col-8-small:last-child {
    padding-right: 0; }

@media only screen and (min-width: 1024px) {
  .col-1 {
    width: 12.5%; } }

@media only screen and (min-width: 640px) and (max-width: 1023px) {
  .col-1-med {
    width: 12.5%; } }

@media only screen and (max-width: 639px) {
  .col-1-small {
    width: 12.5%; } }

@media only screen and (min-width: 1024px) {
  .col-2 {
    width: 25%; } }

@media only screen and (min-width: 640px) and (max-width: 1023px) {
  .col-2-med {
    width: 25%; } }

@media only screen and (max-width: 639px) {
  .col-2-small {
    width: 25%; } }

@media only screen and (min-width: 1024px) {
  .col-3 {
    width: 37.5%; } }

@media only screen and (min-width: 640px) and (max-width: 1023px) {
  .col-3-med {
    width: 37.5%; } }

@media only screen and (max-width: 639px) {
  .col-3-small {
    width: 37.5%; } }

@media only screen and (min-width: 1024px) {
  .col-4 {
    width: 50%; } }

@media only screen and (min-width: 640px) and (max-width: 1023px) {
  .col-4-med {
    width: 50%; } }

@media only screen and (max-width: 639px) {
  .col-4-small {
    width: 50%; } }

@media only screen and (min-width: 1024px) {
  .col-5 {
    width: 62.5%; } }

@media only screen and (min-width: 640px) and (max-width: 1023px) {
  .col-5-med {
    width: 62.5%; } }

@media only screen and (max-width: 639px) {
  .col-5-small {
    width: 62.5%; } }

@media only screen and (min-width: 1024px) {
  .col-6 {
    width: 75%; } }

@media only screen and (min-width: 640px) and (max-width: 1023px) {
  .col-6-med {
    width: 75%; } }

@media only screen and (max-width: 639px) {
  .col-6-small {
    width: 75%; } }

@media only screen and (min-width: 1024px) {
  .col-7 {
    width: 87.5%; } }

@media only screen and (min-width: 640px) and (max-width: 1023px) {
  .col-7-med {
    width: 87.5%; } }

@media only screen and (max-width: 639px) {
  .col-7-small {
    width: 87.5%; } }

@media only screen and (min-width: 1024px) {
  .col-8 {
    width: 100%; } }

@media only screen and (min-width: 640px) and (max-width: 1023px) {
  .col-8-med {
    width: 100%; } }

@media only screen and (max-width: 639px) {
  .col-8-small {
    width: 100%; } }

.pull-out:before, .out:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 9999px; }
  .pull-out:before:before, .out:after:before {
    right: 100%; }
  .pull-out:before:after, .out:after:after {
    left: 100%; }

/*# sourceMappingURL=griddle.css.map */
